## Day 06 Assignment | Arshad Shaikh

In [ ]:
""" Question 1 - Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in single line.
Example;
Input:
john@google.com
Output:
google """

emailId = input("Enter the email address : ")

def getCompanyName(email):
    return email.split('@')[-1].split('.')[0]

print("Input : ", emailId)
print("Output : ", getCompanyName(emailId))

Enter the email address : arshadshaikh@gmail.com
gmail.com
Input :  arshadshaikh@gmail.com
Output :  gmail

In [ ]:
""" Question 2 - Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world """

inputVal = input("Enter comma-separated list")
listVal = inputVal.split(",")
sortedListVal = sorted(listVal)
print("Output : ",",".join(sortedListVal))

Enter comma-separated listwithout,hello,bag,world
Output :  bag,hello,without,world

#Python Sets
Set is an unordered and unindexed collection of items in Python. Unordered means when we display the elements of a set, it will come out in a random order. Unindexed means, we cannot access the elements of a set using the indexes like we can do in list and tuples.

The elements of a set are defined inside curly brackets and are separated by commas. For example

myset = {1, 2, 3, 4, "hello"}

In [1]:
# Set Example
myset = {"hi", 2, "Python", "AI/ML","Hello World"}
print(myset)

{2, 'AI/ML', 'Python', 'hi', 'Hello World'}

### 1. Checking whether an item is in the set
We can check whether an item exists in Set or not using “in” operator as shown in the following example. This returns the boolean value true or false. If the item is in the given set then it returns true, else it returns false.

In [2]:
# Set Example
myset = {"hi", 2, "Python", "AI/ML","Hello World"}

# checking whether 2 is in myset
print(2 in myset)

# checking whether "Hello World" is in myset
print("Hello World" in myset)

# checking whether "DeepLearning" is in myset
print("DeepLearning" in myset)

True
True
False

### 2. Loop through the elements of a Set

We can loop through the elements of a set in Python as shown in the following elements. As you can see in the output that the elements will appear in random order each time you run the code.

In [4]:
# Set Example
myset = {"hi", 2, "Python", "AI/ML","Hello World"}

# loop through the elements of myset
for a in myset:
    print(a)

2
AI/ML
Python
hi
Hello World

###3. Add item to a Set

*   To add one item to a set use the add() method.
*   To add more than one item to a set use the update() method.

In [ ]:
# Set Example
myset = {"hi", 2, "Python", "AI/ML","Hello World"}
print("Original Set:", myset)

# adding an item
myset.add(100)
print("Set after adding 100:", myset)

# adding more than one item
myset.update(["Deep Learning", "200", "NLP"])
print("Set after adding more than one item:", myset)

###4. Remove an item in a Set

*   To remove an item in a set, use the **remove()**, or the **discard()** method.
*   You can also use the **pop()**, method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.
*   The **clear()** method empties the set
*   The **del** keyword will delete the set completely. After deleting if you try to print the Set then this will raise an error because the set no longer exists.

In [5]:
myset = {"hi", 2, "Python", "AI/ML","Hello World"}

# Remove "AI/ML" by using the remove() method:
myset.remove("AI/ML")
print(myset)

# Remove "AI/ML" by using the discard() method:
myset.discard("AI/ML")
print(myset)

# Remove the last item by using the pop() method
itemremoved = myset.pop()
print("Removed item: ",itemremoved)
print("Set after removing: ",myset)

# The clear() method empties the set
myset.clear()
print(myset)

# The del keyword will delete the set completely
del myset
#print(myset) # this will raise an error because the set no longer exists

{2, 'Python', 'hi', 'Hello World'}
{2, 'Python', 'hi', 'Hello World'}
Removed item:  2
Set after removing:  {'Python', 'hi', 'Hello World'}
set()

###5. Join Two Sets

There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [6]:
# The union() method returns a new set with all items from both sets:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

# The update() method inserts the items in set2 into set1:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3, 4}

set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'b', 'c'}
{1, 2, 3, 4, 'a', 'b', 'c'}

###6. The set() Constructor
It is also possible to use the set() constructor to make a set.

In [7]:
myset = set(("a", "b", "c")) # note the double round-brackets
print(myset)

{'c', 'a', 'b'}

In [ ]:
""" Question 4 - Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:1 2 4 6 3 7 8
Output:5 """

inputSeq = sorted(input("Enter space-separated numbers").split(" "))
newList = []

counter = int(inputSeq[0])
for x in inputSeq:
  if counter == int(x):
    counter += 1
  else:  
    print(counter, " is misisng")
    break

Enter space-separated numbers2 4 5 1 6 7
3  is misisng

In [ ]:
""" Question 5 - With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155 """

inputSeq = input("Enter space-separated numbers").split(" ")
newList = []
for x in inputSeq:
  if x not in newList:
    newList.append(x)
    print(x, end=" ")

Enter space-separated numbers12 24 35 24 88 120 155 88 120 155
12 24 35 88 120 155